{
    "plugins": [
        ["import-glob"],
        ["react-hot-loader/babel"],
        ["dva-hmr"],
        [
            "import",
            {
              "libraryName": "antd",
              "style": true
            }
        ]
    ],
    "presets": [
        "es2015",
        "stage-2",
        "env",
        "react"
    ]
}
