.login{
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
}
.loginView{
    width:320px;height:320px;
    box-shadow:0 0 100px rgba(0,0,0,.08);
}
.loginHead{
    width:320px;
    height:20%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.loginImg{
    width:40px;
    margin-right:8px;
}
.loginText{
    font-size:18px;
}
.loginBody{
    height:80%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.loginButton{
    width:100%;
}
